#grid {
	
	border: "1";
	border-collapse: collapse;
	border-spacing: 0;
	
}

.cell{
	
	width: 40px;
	height: 40px;
	font-size: 30px;
	border: 2px solid;
	text-align: center;
	cursor: pointer;
	background-color: #ccc;
	background-size: cover;
	
	line-height: 40px;
	vertical-align: middle;
	
}

.cell img{
	
	width: 100%;
	height: 100%;
	
	display: block;
	
}

.cell td{
	display: block;
}